body {
    background-color: LemonChiffon;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}




p {
    color: black;
    padding: 10px;
    margin-inline-end: 40px;
}


nav {
    height: 60px;
}

ul.topmenu {
    display: flex;
    color: black;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
    background: tomato;
    margin: 0;
    line-height: 60px;
}

.title1 {
    flex-grow:2;
    font-size: 2em;
    font-family: 'Righteous', sans-serif;
    color: white;

}
.menubox {
    border: 2px solid black;
    color: black;
}





.layout-center {
    text-align: center;
    margin: 12px;
}

img {
    /*width:75vw;*/
    background-size: cover;
}




.container1 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;

}

.container2 {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin:36px;
    padding:36px 240px 36px 36px;
}


    .container2:hover {
        transform: scale(1.5);
        background: tomato;
        transition: all 0.5s;
    }