body {
    background-color: LemonChiffon;
}

h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}



h3 {
    color: black;
    text-align: left;
}

    h3:hover {
        color: black;
        border: 2px solid white;
        background-color: white;
    }

p {
    color: black;
    padding: 10px;
    margin-inline-end: 40px;
}


.container {
}
